@charset "UTF-8";
/* CSS Document */

* {
	margin: 0 auto;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px
}

body {
	background-color: #23B5AF;
	font-family: 'Montserrat', sans-serif;
	color: white;
}


/* typography */

h1, h2, ol, p {
		font-weight: 300;
}


h1 {
	margin: 0 auto;
	padding-top: 30px;
	font-size: 2.5em;
	line-height: 1;
}

	.tuchscherer {
		font-weight: 900;
		font-size: 1em;
		letter-spacing: .05em;
	}

h2 {
	margin: 0 auto;
	padding-top: 5px;
	font-size: .85em;
	letter-spacing: .15em;
}

h3 {
	margin: 0 auto;
	padding: 30px 0px 30px 0px;
	font-weight: 500;
	font-size: 2.09em;
	letter-spacing: .05em;
}

ol {
	list-style-type: none;
	margin: 0 auto;
	padding-top: 10px;
	font-size: .62em;
	letter-spacing: .075em;
	line-height: 1.35
}

	.small {
		font-size: .65em;
	}

h4 {
	font-size: 1.5rem;
	line-height: 0;
	margin: 0 auto;
	padding: 18px 0px 10px 0px;
	letter-spacing: .05em;
	font-weight: 800;
}

h5 {
	font-weight: 600;
	font-style: italic;
	font-size: .9rem;
	margin: 0 auto;
	padding: 2px 0px 5px 0px;
	letter-spacing: .03em;
}

p {
	font-size: .75rem;
	margin: 0 auto;
	padding: 7px 0px;
	letter-spacing: .04em;
	line-height: 1.4em;
}

	.bold {
		font-weight: 800;
	}


/* layout */


header {
	background-color: #3A3A3C;
	height: 200px;
}

nav {
	height: 30px;
	background-color: white;
}


/* about me section */


.aboutme {
	width: 90%;
	padding-top: 40px;
	display: flex;
}

.glasses{
}

.aboutmetext {
}


/* tinkering section */


.center-with-margin {
	margin: 0 auto;
}


/* nerd talk section */
/*

.nerdtalk {
	margin: 0 auto;
} */


/* footer section */


footer {
	background-color: #E3493B;
	width: 100%;
	border-top: 5px solid white;
	margin-top: 40px;
	padding: 15px 30px;
}
